img.logo {
    width: 25%;
    display: block;
    margin-left: 42%;
    margin-right: 58%;
    margin-top: 200px;
}
input[type=text] {
    margin-left: 40%;
    margin-right: 60%;
    width: 30%;
}
ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}

li {
    display: inline;
    padding:0;
    margin:0;
}

ul.navbar-right{
    float: right;
    padding: 0;
    margin: 0;
}
